<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quod voluptatum minus accusamus sunt! Asperiores modi qui molestias eligendi provident, sunt laudantium molestiae architecto porro, deleniti similique sit facere deserunt?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quod voluptatum minus accusamus sunt! Asperiores modi qui molestias eligendi provident, sunt laudantium molestiae architecto porro, deleniti similique sit facere deserunt?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quod voluptatum minus accusamus sunt! Asperiores modi qui molestias eligendi provident, sunt laudantium molestiae architecto porro, deleniti similique sit facere deserunt?</p>
        </ul>
    </div>
</div>
